<form novalidate [formGroup]="form" style="margin-left: 5%;">
	<div><h3>Show schedule</h3></div>
	<span>
		<label for="hall">Select Hall : </label>
		<select type="hall" name="hall" formControlName="hall" (change)="enableDate()">
			<option value="">--Select Hall--</option>
			<option *ngFor="let hall of halls | async" value="{{hall.$key}}">{{hall.name}}</option>
		</select>
	</span> | 
	<span>
		<label for="date">Select Date : </label>
		<input type="date" name="date" formControlName="date" min="{{dateYesterday}}" (change)="addScheduleView()">
	</span>
	<div formArrayName="schedules" *ngIf="show" style="margin-left: 5%;">
		<span>
			<button (click)="addSchedules()">Add Schedules</button>
		</span>
		<div *ngFor="let schedule of schedules.controls;let i=index;" [formGroupName]="i">
			<label for="endTime">Last ticket issuing time</label>
			<input type="time" formControlName="endTime">
			<select formControlName="film">
				<option value="">--Select Film--</option>
				<option *ngFor="let film of films | async" value="{{film.name}}">{{film.name}}</option>
			</select>
			<input type="number" formControlName="ticketsReserved" placeholder="Tickets issued">
			<button *ngIf="i!='0'" (click)="schedules.removeAt(i)">Remove</button>
		</div>	
	</div>
	<div>
		<button (click)="submitDate()" [disabled]="form.invalid">Save</button>
	</div>
</form>