<p>
  welcome works!
</p>
  <div> {{ (af.auth | async)?.uid }} </div>
  <button (click)="login()">Login</button>
  <button (click)="logout()">Logout</button>
 <!-- <button type="submit" (click)="onSelectTheater()">Theater</button>
  <button type="submit" (click)="onSelectTicket()">Ticket</button> -->
<md-tab-group>
  <md-tab label="Admin">
    <router-outlet name="admin"></router-outlet>
  </md-tab>
  <md-tab label="Manager">
    <router-outlet name="theaterManager"></router-outlet>
  </md-tab>
  <md-tab label="Operator">
    <router-outlet name="theater"></router-outlet>
  </md-tab>
  <!--md-tab label="Vendor">
    <router-outlet name="vendor"></router-outlet>
  </md-tab-->
  <md-tab label="ticket">
    <router-outlet name="ticket"></router-outlet>
  </md-tab>
</md-tab-group>
